.card {
	display: flex;
	flex-direction: column;
	border-radius: 2px;
	background-color: #fffdf5;
	position: relative;
	border-radius: 8px;
	box-shadow: 0px 4px 4px 0px rgba(73, 69, 79, 0.2);

	margin-bottom: 10px;
	width: 328px;
}

.card__like-btn {
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	position: absolute;
	background-color: white;
	background-image: url(../../images/like-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	right: 8px;
	top: 8px;
	cursor: pointer;
}

.card__info-container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	position: relative;
}

.card__img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.card__text-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.card__title {
	margin: 0;
	max-height: 26px;
	max-width: 250px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #1d1b20;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.2px;
}

.card__adress {
	margin: 0;
	overflow: hidden;
	text-wrap: nowrap;
	color: #49454f;
	text-overflow: ellipsis;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.card__additional-info {
	display: inline-flex;
	gap: 30px;
	justify-content: start;
	align-items: center;
	margin: 18px 0;
}

.card__rating-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.card__rating {
	color: #49454f;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.card__reviews-contaner {
	display: inline-flex;
	gap: 4px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.card__reviews {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.card__average-bill {
	position: relative;
	margin: 0;
	color: #49454f98;
}

.card__average-bill_black {
	color: black;
}

.card__average-bill_search {
	position: absolute;
	top: 19px;
	right: 24px;
	margin: 0;
}
