.card {
	display: flex;
	flex-direction: column;
	/* border: 1px #79747e solid; */
	/* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
	border-radius: 2px;
	background-color: white;
	position: relative;
	border-radius: 8px;
	box-shadow: 0px 4px 4px 0px rgba(0, 108, 96, 0.2);
	margin-bottom: 10px;
}

.card__like-btn {
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	position: absolute;
	background-color: white;
	background-image: url(../../images/like-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	right: 8px;
	top: 8px;
	cursor: pointer;
}

.card_type_recomendation {
	width: 232px;
}

.card_type_search {
	max-width: 328px;
}

.card__info-container {
	display: flex;
	flex-direction: column;
	padding: 16px;
	position: relative;
}

.card__img {
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.card__img_type_recomended {
	height: 180px;
}

.card__text-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.card__title {
	margin: 0;
	max-height: 26px;
	max-width: 250px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #1d1b20;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.2px;
}

.card__adress {
	margin: 0;
	overflow: hidden;
	text-wrap: nowrap;
	color: #49454f;
	text-overflow: ellipsis;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.card__additional-info {
	display: inline-flex;
	gap: 25px;
	justify-content: start;
	align-items: center;
	margin: 18px 0;
}

.card__rating-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.card__rating {
	color: #49454f;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.card__reviews-contaner {
	display: inline-flex;
	gap: 4px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.card__reviews {
	color: #05887b;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.card__button {
	color: #05887b;
	background-color: white;
	text-transform: capitalize;
	border-radius: 4px;
	height: 40px;
	color: #05887b;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	cursor: pointer;
	transition: opacity 0.4s ease;
	display: inline-flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}

.card__button_type_recomended {
	width: 200px;
	border: 1px #79747e solid;
}

.card__button_type_search {
	width: 154px;
	border: 1px #05887b solid;
}

.card__button:hover {
	opacity: 0.7;
}

.card__average-bill {
	position: relative;
	margin: 0;
	color: #49454f98;
}

.card__average-bill_black {
	color: black;
}

.card__average-bill_search {
	position: absolute;
	top: 19px;
	right: 24px;
	margin: 0;
}
