.search-results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.search-results__title {
	font-family: 'Roboto Flex';
	font-size: 26px;
	font-weight: 600;
	line-height: 32px;
	color: #fff;
	text-align: center;
}

.search-results__title_results {
	font-size: 26px;
	font-weight: 600;
	line-height: 32px;
	color: #1d1b20;
}

.search-results__bg-box {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	background: url('../../images/SearchForm__bg.png') no-repeat top;
	background-size: cover;
	/* background-size: 360px 300px; */
	/* z-index: 0; */
}

@media screen and (min-width: 600px) {
	.search-results__bg-box {
		background-image: url('../../images/search_form_bg_768.png');
	}
}

@media screen and (min-width: 900px) {
	.search-results__bg-box {
		background-image: url('../../images/search_form_bg_1440.png');
	}
}

.search-results__bg-box_none {
	background: none;
}

.search-results__flex-box {
	display: flex;
	gap: 8px;
	margin: auto;
	width: max-content;
}

/* .search-results__title {
	padding-top: 24px;
	margin: 0;
	font-family: 'Roboto Condensed';
	font-size: 26px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
} */

.search-results__find-items {
	padding-top: 10px;
	margin: 0;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.search-results__filter-box {
	padding-top: 17px;
	display: flex;
	gap: 12px;
}

.search-results__filter-btn:hover {
	opacity: 0.8;
}

.search-results__map-btn {
	min-width: 50px;
	height: 32px;
	border: none;
	cursor: pointer;
	background: url('../../images/search__results__mapBtn.svg') no-repeat;
}

.search-results__map-btn:hover {
	opacity: 0.8;
}

.search-results__list {
	padding: 24px 0;
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 328px));
	gap: 20px;
}

.search-results__box-filters {
	display: flex;
	gap: 8px;
}

.search-results__reset-filters {
	display: flex;
	align-items: center;
	gap: 11px;
	padding: 6px 16px;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
	color: #49454f;
	border-radius: 8px;
	border: 1px solid #006c60;
	background-color: initial;
	cursor: pointer;
}

.search-results__reset-filters::after {
	content: '';
	width: 10px;
	height: 10px;
	background: url('../../images/filter-menu__close-btn.svg') no-repeat center;
}

.search-results__reset-filters:hover {
	opacity: 0.8;
}

@media screen and (max-width: 359px) {
	.search-results__flex-box {
		gap: 5px;
	}
}
