.review {
	display: flex;
	flex-direction: column;
	background-color: #fffef9;
	width: 296px;
	height: 104px;
	padding: 12px 16px;
	color: #1d1b20;
	gap: 5px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	border-radius: 8px;
}

.review__name {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	max-width: 215px;
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.review__date {
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.5px;
}

.review__text {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	max-width: 296px;
	max-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.review__rating {
	position: absolute;
	top: 12px;
	right: 24px;
	color: #001f1c;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
}
