.filter-menu {
	display: flex;
	flex-direction: column;
	background-color: white;
	bottom: 0;
	left: 0;
	opacity: 0;
	top: 0;
	position: fixed;
	transition:
		visibility 0.3s,
		opacity 0.4s linear;
	visibility: hidden;
	width: 100%;
	z-index: 10;
	max-height: 100%;
	overflow-y: auto;
}

.filter-menu_open {
	opacity: 1;
	visibility: visible;
}

.filter-menu__container {
	position: relative;
	padding: 10px 16px;
}

.filter-menu__title {
	font-family: Roboto Condensed;
	font-size: 26px;
	font-weight: 400;
	line-height: 32px;
}

.filter-menu__close-btn {
	background: url('../../images/filter-menu__close-btn.svg') no-repeat 50%;
	border: none;
	cursor: pointer;
	height: 22px;
	padding: 0;
	position: absolute;
	right: 17px;
	top: 15px;
	width: 22px;
}

.filter-menu__category {
	padding-top: 24px;
	color: #001f1c;
	font-family: Ubuntu;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
}

.filter-menu__list {
	margin: 0;
	padding: 0;
	padding-top: 16px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.filter-menu__filter-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 6px 16px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
	border: 1px solid #006c60;
	border-radius: 4px;
	background: initial;
	cursor: pointer;
	color: #49454f;
}

.filter-menu__filter-btn_active {
	color: #02332e;
	background-color: #e4f4f1;
	border: 1px solid #fff;
}

.filter-menu__filter-btn_active::before {
	display: flex;
	width: 13px;
	height: 13px;
	content: '';
	background: url('../../images/filter-menu__successMarkGreen.svg') no-repeat;
}

.filter-menu__filter-btn:hover {
	opacity: 0.8;
}

.filter-menu__pt-box {
	padding-top: 40px;
}

.filter-menu__link {
	text-decoration: none;
}

.filter-menu__link-btn {
	width: 300px;
	height: 48px;
	color: white;
	border: none;
	border-radius: 30px;
	background-color: #05887b;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fdfaf2;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.filter-menu__link-btn:hover {
	opacity: 0.8;
}

.filter-menu__radio-list {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	gap: 5px;
	list-style: none;
	display: flex;
	flex-direction: column;
}
