.search-input {
	/* position: relative; */
	max-width: 328px;
	width: 100%;
	margin: auto;
}

.search-input__box-field {
	position: relative;
}

.search-input__label {
	padding: 0 2px;
	position: absolute;
	top: -8px;
	left: 25px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #49454f;
	background: #fff;
}

.search-input__input {
	display: flex;
	padding: 0;
	padding-left: 50px;
	max-width: 318px;
	width: 83%;
	height: 56px;
	border: 1px solid rgb(180, 177, 177);
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	outline: none;
	border-radius: 8px;
	/* position: relative; */
	background: url('../../images/search-input__loupe.svg') center no-repeat;
	background-size: 18px 18px;
	background-position: 15px;
}

.search-input__input::placeholder {
	color: #49454f;
}

.search-input__input:focus {
	border: 2px solid rgb(58, 81, 232);
}

.search-input__find-btn:hover {
	opacity: 0.7;
}

.search-input__filter-btn {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px;
	padding-left: 20px;
	padding-right: 16px;
	border: none;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
	color: #49454f;
	background-color: #e4f4f1;
}
.search-input__filter-btn::before {
	content: '';
	width: 14px;
	height: 14px;
	background: url('../../images/search-form__filter-icon.svg') no-repeat center;
	background-size: 14px 14px;
}

.search-input__filter-btn:hover {
	opacity: 0.7;
}

@media screen and (max-width: 359px) {
	.search-input {
		max-width: 300px;
	}
	.search-input__input {
		font-size: 13px;
		padding-left: 50px;
		width: 80%;
	}
	.search-input__find-btn {
		right: 42px;
	}
	.search-input__filter-btn {
		right: 18px;
	}
}
