.help-page {
	padding: 16px 24px 16px 16px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	box-sizing: border-box;
}

.help-page__title {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
}

.help-page__nav {
	all: unset;
}

.help-page__nav-list {
	/* all: unset; */
	padding: 0;
	list-style: none;
}

.help-page__nav-el {
}

.help-page__nav-link {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #05887b;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.25px;
	transition: opacity 0.5s;
}

.help-page__nav-link:hover {
	opacity: 0.6;
}

.help-page__info {
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

.help-page__info:first-child {
	margin-top: 16px;
}

.help-page__info-list {
	/* all: unset; */
	/* list-style: none; */
	list-style-type: disc;
	padding-left: 20px;
	width: 100%;
	box-sizing: border-box;
}

.help-page__subtitle {
	list-style: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: 0.2px;
	margin: 24px auto 16px;
	/* width: 100%; */
}

.help-page__info-el {
	color: #05887b;
	font-size: 14px;
	line-height: 20px;
}
