.add-review {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background-color: #fff;
	height: 100vh;
	z-index: -1;
	opacity: 0;
	transition:
		z-index,
		opacity 0.3s linear;
}

.add-review_open {
	z-index: 2;
	overflow: hidden;
	opacity: 1;
}

.add-review__header {
	display: flex;
	align-items: center;
	padding-top: 8px;
}

.add-review__back {
	background-image: url('../../images/add-restaurant__backBtn.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: inherit;
	border: none;
	width: 48px;
	height: 48px;
}

.add-review__title {
	color: #49454f;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.add-review__establishment-info {
	display: flex;
	gap: 2px;
	flex-direction: column;
	margin: 20px 0 0 24px;
}

.add-review__establishment {
	color: #1d1b20;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.2px;
}

.add-review__establishment-geo {
	color: #1d1b20;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

.add-review__btns {
	margin-top: 116px;
	padding-top: 16px;
	border-top: 1px solid #cac4d0;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.add-review__button {
	border-radius: 100px;
	border: 1px solid #006c60;
	background-color: inherit;
	padding: 10px 24px;
	color: #05887b;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	min-width: 160px;
}

.add-review__button_accent {
	border: 1px solid #05887b;
	background-color: #05887b;
	color: #fff;
}

.add-review__sended-container {
	margin-top: 24px;
	padding: 16px;
	border-radius: 8px;
	background: #fffdf5;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.add-review__sended-title {
	color: #1d1b20;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.add-review__sended-review {
	margin-top: 8px;
	color: #49454f;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.add-review__success {
	margin-top: 24px;
	color: #49454f;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.2px;
}
