.restaurant-page {
	max-width: 360px;
	margin: 0 auto;
}

.restaurant-page__photo-container {
	position: relative;
	width: 100%;
	height: 270px;
}

.restaurant-page__photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.restaurant-page__favorite {
	position: absolute;
	top: 11px;
	right: 12px;
	width: 41px;
	height: 41px;
	background-color: #fcf7e7;
	border-radius: 50%;
}

.restaurant-page__more-photo-btn {
	position: absolute;
	top: 222px;
	right: 16px;
}

.restaurant-page__name {
	font-family: 'Roboto Condensed', sans-serif;
	color: #000;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	margin: 25px 0 17px;
}

.restaurant-page__info-container {
	display: flex;
	flex-direction: column;
	max-width: 92%;
	margin: 0 auto;
}

.restaurant-page__rating {
	color: #49454f;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	color: #49454f;
}

.restaurant-page__reviews-container {
	display: flex;
	flex-direction: row;
	color: #05887b;
}

.restaurant-page__reviews {
	margin: 0 40px 0 15px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	color: #05887b;
}

.restaurant-page__info {
	max-width: 328px;
	display: flex;
	flex-direction: row;
}

.restaurant-page__rating {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	margin: 0 34px 0 9px;
}

.restaurant-page__rating-star {
	font-size: 16px;
	margin-right: 3px;
}

.restaurant-page__average-check {
	color: #49454f;
}

.restaurant-page__address-container {
	margin: 26px auto 24px;
	width: 94%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #fcf7e7;
	justify-content: space-between;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
	padding: 8px;
}

.restaurant-page__address-text {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.restaurant-page__address {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.restaurant-page__phone {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.restaurant-page__map-icon {
	margin-right: 13px;
}

.restaurant-page__features-container {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	width: 100%;
}

.restaurant-page__feature {
	border: 1px solid #000;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	padding: 5px 15px;
	text-align: center;
	margin: 0;
}

.restaurant-page__description {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	overflow: hidden;
	max-width: 100%;
}

.restaurant-page__description-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	margin-bottom: 11px;
}

.restaurant-page__description-more-btn {
	border: none;
	background-color: transparent;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.restaurant-page__description-more-btn:hover {
	cursor: pointer;
	text-decoration: underline;
}

.restaurant-page__about-container {
	max-width: 92%;
	margin: 0 auto;
}

.restaurant-page__about-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 32px;
	padding-left: 5px;
	margin-bottom: 29px;
}

.restaurant-page__zone-container {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	align-items: center;
	gap: 15px;
	max-width: 89%;
}

.restaurant-page__about-line {
	border-bottom: 1px solid #cac4d0;
	margin: 13px 0 11px;
}

.restaurant-page__zone-info {
	display: flex;
	flex-direction: column;
}

.restaurant-page__zone-title {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	margin: 0;
}

.restaurant-page__zones {
	display: flex;
	flex-direction: row;
}

.restaurant-page__zone-item {
	max-width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.restaurant-page__time-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 25px;
	margin-left: 2px;
	max-width: 89%;
	margin: 0 auto;
}

.restaurant-page__time-info {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.restaurant-page__time-title {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	margin: 0;
}

.restaurant-page__time {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	margin: 0;
}
