.search-form {
	margin: 16px 16px 32px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	border-radius: 8px;
	align-content: center;
	flex-wrap: wrap;
	background-color: #fff;
}

.search-form_booking {
	background-color: #fff;
	padding: 24px 0;
	margin: 0;
	border-radius: 0;
}

.search-form_rest-page {
	background-color: #991a55;
	padding: 24px 0;
	margin: 0;
	border-radius: 0;
}

.search-form__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;
	margin: auto;
}
