.search-form {
	max-width: 328px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-top: 32px;
	justify-content: center;
	margin: auto;
}

.search-form__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
