.search-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 30px 4.45vw;
	background-color: #991a55;
	align-content: center;
	flex-wrap: wrap;
}

.search-form_booking {
	background-color: white;
	padding: 24px 0;
}

.search-form__btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	border: none;
	margin: auto;
}
