.add-restaurant__box {
	padding-bottom: 24px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.add-restautant__backBtn {
	width: 16px;
	height: 16px;
	background: url('../../images/add-restaurant__backBtn.svg') no-repeat center;
	border: none;
	cursor: pointer;
}

.add-restautant__backBtn:hover {
	opacity: 0.8;
}

.add-restaurant__title {
	font-family: Roboto;
	font-size: 22px;
	font-weight: 600;
	line-height: 32px;
	color: #1d1b20;
}

.add-restaurant__form {
	display: flex;
	flex-direction: column;
	gap: 17px;
}

.add-restaurant__box-relative {
	position: relative;
	display: flex;
	flex-direction: column;
}

/* .add-restaurant__label-input {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	color: #49454f;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	transition: 0.3s;
	pointer-events: none;
} */

/* .add-restaurant__input:focus ~ .add-restaurant__label-input {
	padding: 0 2px;
	top: 0px;
	left: 15px;
	font-size: 12px;
} */

.add-restaurant__label-input {
	padding: 0 2px;
	position: absolute;
	top: -8px;
	left: 20px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #49454f;
	background: #fff;
}

.add-restaurant__label-input_error {
	color: #ec006c;
}

.add-restaurant__input {
	padding: 0;
	padding-left: 20px;
	max-width: 318px;
	width: 93%;
	height: 56px;
	border: 1px solid #79747e;
	border-radius: 4px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	outline: none;
}

.add-restaurant__input_error {
	border: 1px solid #ec006c;
}

.add-restaurant__error {
	padding-top: 5px;
	opacity: 0;
	visibility: hidden;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #ec006c;
}

.add-restaurant__error_active {
	opacity: 1;
	visibility: visible;
	color: #ec006c;
}

.add-restaurant__category {
	color: #1d1b20;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
}

.add-restaurant__list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.add-restaurant__item {
	display: flex;
}

.add-restaurant__item_error {
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #ec006c;
}

.add-restaurant__label {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 6px 18px;
	border: 1px solid #006c60;
	border-radius: 6px;
	cursor: pointer;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
	position: relative;
}

.add-restaurant__label::before {
	content: '';
	width: 13px;
	height: 10px;
	opacity: 0;
	display: none;
}

.add-restaurant__option-btn {
	display: none;
}
.add-restaurant__option-btn:checked + .add-restaurant__label {
	background-color: #e4f4f1;
}

.add-restaurant__option-btn:checked + .add-restaurant__label::before {
	opacity: 1;
	display: flex;
	background: url('../../images/filter-menu__successMarkGreen.svg') no-repeat;
}

.add-restaurant__description {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	text-align: left;
}

.add-restaurant__add-form {
	display: flex;
	flex-direction: column;
}

.add-restaurant__flex-box {
	padding: 8px 0;
	display: flex;
	gap: 8px;
}

.add-restaurant__moreBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 156px;
	height: 40px;
	color: #006c60;
	border: 1px solid #006c60;
	border-radius: 8px;
	background-color: initial;
	cursor: pointer;
}

.add-restaurant__moreBtn:hover {
	opacity: 0.7;
}

.add-restaurant__radio-list {
	margin: 0;
	padding: 0;
	gap: 5px;
	list-style: none;
	display: flex;
	flex-direction: column;
}

.add-restaurant__text-area {
	padding: 10px;
	max-width: 100%;
	width: 95%;
	height: 103px;
	border: 1px solid #79747e;
	border-radius: 8px;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
	outline: none;
}

.add-restaurant__text-area_error {
	border: 1px solid #ec006c;
}

.add-restaurant__label-text-area {
	padding: 0 2px;
	position: absolute;
	top: -8px;
	left: 20px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #49454f;
	background: #fff;
}

.add-restaurant__label-text-area_error {
	color: #ec006c;
}

.add-restaurant__category_padding-bot {
	color: #1d1b20;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
}

.add-restaurant__submit-btn {
	margin-bottom: 24px;
	align-items: center;
	max-width: 328px;
	height: 40px;
	color: white;
	border: 1px solid rgb(180, 177, 177);
	border-radius: 8px;
	background-color: #05887b;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	cursor: pointer;
}

.add-restaurant__submit-btn_disabled {
	background-color: #1d1b201f;
	cursor: auto;
	color: #1d1b20;
	opacity: 0.4;
}

.add-restaurant__submit-btn:hover {
	opacity: 0.8;
}

.add-restaurant__flex-box-file {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between;
	align-items: center; */
}

.add-restaurant__file-paragraph {
	margin-right: 20px;
	max-width: 150px;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.add-restaurant__poster {
	margin-bottom: 17px;
	width: 160px;
	height: 76px;
	object-fit: cover;
	border-radius: 8px;
}

.input__file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0px;
}

.input__file-icon-wrapper {
	height: 60px;
	width: 60px;
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #fff;
}

.input__file-button-text {
	color: #05887b;
	line-height: 1;
	margin-top: 1px;
	cursor: pointer;
	align-self: center;
}

.input__file-button {
	width: 156px;
	height: 40px;
	background-color: initial;
	color: #fff;
	font-size: 1.125rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border: 1px solid #006c60;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
}

.input__file-button:hover {
	opacity: 0.8;
}

.add-restaurant__box-images {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(4, minmax(0, 76px));
}

.input-file__background {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-file__image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 76px;
	height: 76px;
	object-fit: cover;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	/* position: relative; */
	background: none;
}
.input-file__background::before {
	content: '';
	width: 76px;
	height: 76px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(42, 44, 47, 0);
	transition: background 0.3s;
	border-radius: 8px;
	cursor: pointer;
}
.input-file__background:hover::before {
	background: rgba(42, 44, 47, 0.7);
	opacity: 0.8;
	cursor: default;
}

.input-file__delete-image {
	position: absolute;
	top: 50% -40px;
	left: 50% -40px;
	width: 40px;
	height: 40px;
	background: url('../../images/input-file__deleteBtn-Image.svg') no-repeat
		center;
	border: none;
	cursor: pointer;
	transition: opacity 0.3s;
	opacity: 0;
}

.input-file__background:hover > .input-file__delete-image {
	opacity: 1;
}

.input__file-button::before {
	padding-right: 5px;
	display: flex;
	align-items: center;
	content: '';
	width: 12px;
	height: 12px;
	background: url('../../images/add-restaurant__plus.svg') no-repeat;
}

.add-restaurant__back-btn {
	margin-bottom: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 328px;
	height: 40px;
	color: #05887b;
	border: 1px solid #006c60;
	border-radius: 8px;
	background-color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.add-restaurant__back-btn:hover {
	opacity: 0.7;
}

@media screen and (max-width: 358px) {
	.add-restaurant__input {
		padding-left: 15px;
	}
	.add-restaurant__title {
		font-size: 20px;
	}
	.add-restaurant__box-images {
		grid-template-columns: repeat(3, minmax(0, 76px));
		gap: 16px;
	}
}
