.recomended {
	max-width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.recomended__heading {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 28px;
	margin-bottom: 16px;
}

.recomended__title {
	color: #000;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	margin: 0;
}

.recomended__button {
	color: #05887b;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	text-decoration: none;
	display: inline-flex;
	gap: 8px;
	display: 'none';
}

.recomended__button p {
	margin: 0;
}

.recomended__cards-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	gap: 16px;
}
