.user-booking {
	width: 330px;
	height: 325px;
	border-radius: 8px;
	background-color: #fffdf5;
	box-shadow: 0 4px 4px 0 rgba(0, 108, 96, 0.2);
	display: flex;
	flex-direction: column;
	align-items: start;
}

.user-booking__heading {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 12px;
}

.user-booking__rest-poster {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.user-booking__date-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 204px;
	margin-left: 16px;
	margin-right: 12px;
}

.user-booking__rest-name {
	color: #1d1b20;
	font-family: 'Ubuntu';
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.2px;
}

.user-booking__booking-date {
	color: #1d1b20;
	font-family: 'Roboto';
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.user-booking__share-btn {
	margin: auto;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: none;
	background: url(../../images/share-icon.svg) center no-repeat;
}

.user-booking__info {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 16px;
}

.user-booking__info-container {
	display: flex;
	flex-direction: column;
}

.user-booking__time {
	color: #1d1b20;
	font-family: 'Roboto';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.user-booking__people {
	color: #49454f;
	font-family: 'Roboto';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.user-booking__adress-container {
	display: inline-flex;
	gap: 16px;
	margin-left: 9px;
}

.user-booking__adress-icon {
	width: 24px;
	height: 24px;
	margin: auto 0;
}

.user-booking__adress-text-container {
	display: flex;
	flex-direction: column;
}

.user-booking__adress-heading {
	color: #1d1b20;
	font-family: 'Roboto';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.user-booking__adress-text {
	overflow: hidden;
	color: #49454f;
	text-overflow: ellipsis;
	font-family: 'Roboto';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.user-booking__message-container {
	display: inline-flex;
	gap: 16px;
	margin-left: 9px;
}

.user-booking__message-text {
	overflow: hidden;
	color: #1d1b20;
	text-overflow: ellipsis;

	font-family: 'Roboto';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	letter-spacing: 0.25px;
}
